/* ANIMAÇÃO DO TÍTULO  */

/* As porcentagens se remetem ao tempo da animação em que momento eles vão fazer determinadas ações, a contagem comumente são em segundos, mas aqui deixamos em porcentagem para deixar o tempo relativo. */

@keyframes HeaderH1-MoverParaDireita {
    0% {
        opacity: 0;
        /* transform é a movimentação do elemento da tela */
        transform: translateX(-75px);
    }

    70% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes HeaderH4-MoverParaEsquerda {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes HeaderA-MoverParaCima {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}